<footer style=margin-top:60px>
  <div class=footer-part style=background-color:transparent>
  <div class=footer-tnak style=display:flex;justify-content:center>
  <span id=thankyouFooter>Thank you ! this web is made by <b> yash sabne</b>.</span> </div>
  © copyright (2024) - <i> yash sabne</i>
  <p id=yash-end-clr-prblm>
  <a href=https://linkedin.com/in/yash-sabne-77239b287 target=_blank>
  <i style=margin-right:20px;font-size:x-large;padding:3px class="fa-brands fa-linkedin myLink" style=color:#fff></i>
  </a>
  <a href=https://github.com/yashsabne target=_blank>
  <i style=font-size:x-large;margin-right:20px;padding:3px class="fa-brands fa-github myLink" style=color:#fff></i>
  </a>
  <a href=https://www.instagram.com/yash_ns29/ target=_blank><i style=font-size:x-large;padding:3px class="fa-brands fa-instagram myLink" style=color:#fff></i></a>
  </p>
  </div>
  <div class=contact-me style=margin-top:20px>
  <span><b>get in touch for latest update & properties</b></span>
  <form action=/get-contact style=display:flex;flex-direction:row method=post>
  <input class=form-control name=email placeholder="Email Address">
  <button class="btn btn-success" style=margin-left:20px>send</button>
  </form>
  <a style=font-size:small;color:#fff href=/termscondition>&Term and Condition apply</a>
  </div>
  </footer>