<div class="sidebarAndToggle"> 
  <div class="sidebar">
  <a class="active" href="/home">Home</a>
 <a href="/your-property-listing">your property listing</a>
  <a href="/rent-sell-home">Rent or Sell a Home</a>
  <a href="/properties">Search For rental home or Buy Home</a>
  <a href="/properties">Buy home </a>
  <a href="/RentEase-about-us">About us</a>
  </div> 
</div>

 