 
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
  
    <title>Document</title>
    </head>
    <body>
         
        <div class="sidebarAndToggle"> 
        <div class="sidebar">
          <a  href="/home">Home</a>
 
          <a href="/rent-sell-home">Rent or Sell a Home</a>
              
          <a href="/properties">Search For rental home or Buy Home</a>
        
          <a href="/properties">Buy home </a>
       
      <a class="active" href="/RentEase-about-us">About us</a>
    </div> 

    <!-- <div class="toggleBtn">
        <button>toggle it</button>
    </div> -->

    
</div>
    <div class="content"> 
      <%- include('partials/nav.ejs') %> <!--including navbar-->
  
  
  <main>
    <div class="div-specification"> 
      <h3 id="statement">  </h3>
    </div>
    <div class="main-about"> 
  
  <header>
    <h1 style="color: wheat;">About RentEase</h1>
    <p>Your one-stop destination for buying, selling, and renting homes</p>
</header>
<section>
    <div class="container">
        <div class="feature">
            <h3>Comprehensive Listings</h3>
            <p>Explore a wide range of properties to find your perfect home</p>
        </div>
        <div class="feature">
            <h3>User-Friendly Interface</h3>
            <p>Our platform is designed to be easy to use, ensuring a seamless experience</p>
        </div>
        <div class="feature">
            <h3>Expert Guidance</h3>
            <p>Our team of experienced professionals is here to assist you every step of the way</p>
        </div>
        <div class="feature">
            <h3>Transparent Transactions</h3>
            <p>We believe in transparency and honesty in all our dealings</p>
        </div>
    </div>
</section>
<section>
    <h2>Meet Our Team</h2>
    <div class="container">
        <div class="team-member">
            <img src="imgs/Self.png" alt="Yash Sabne">
            <h3>Yash Sabne</h3>
            <p>CEO & Founder</p>
        </div>
 
    </div>
</section>
<%- include('partials/footer.ejs') %>
 
  </main>
    </div>


        <!-- model for login start -->
        <%- include('partials/loginModal.ejs') %>
        <!-- model for login end -->

        <!-- model for register start -->
            <%- include('partials/registerModal.ejs') %>
        <!-- model for register end -->

    <script>
         
         let currentDate = new Date(); 
         let currentYear = currentDate.getFullYear();
           
          document.getElementById('copyYear').innerHTML = currentYear
    </script>

    <script src="Js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>