  body {
        margin: 0;
        font-family: "Lato", sans-serif;
      }
      
      .sidebar {
        margin: 05px 0px 0px 0px;
        padding: 0;
        width: 300px;
        background-color: #f1f1f1;
        position: fixed;
        /* background-color: #0FA4AF; */
        color: black;
        height: 100%;
        overflow: auto;
      
      }
    
    
      .sidebar a {
        display: block;
        border-radius: 10px;
        color: black;
        padding: 16px;
        text-decoration: none;
        font-family:  sans-serif;
        font-size: medium;
        margin:0px 1px 1px 1px;
    
      }
      
      .sidebar a.active {
        background-color: #244855;
        color: white;
      }
      
      .sidebar a:hover:not(.active) {
        background-color: #0FA4AF;
        color: black;
      }
      
      div.content {
        background-color: white;
        margin-left: 300px;
        /* height: 2000px; */
      }
      .navbar {
        height: max-content;
        width: 100%;
        background-color: #f1f1f1;
        position: sticky;
        top: 0px;
        padding: 0px 50px 10px;
        box-shadow: 15px 2px 8px  rgb(173, 173, 173);
        z-index: 1;
      }

      .dropdown-contentnotify {
        display: none;
        position: absolute;
        right: 50px;
        background-color: #f1f1f1;
        min-width: 250px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
     
      }

      @media (max-width:400px) {
        .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px 15px 0px;
        }
        .dropdown-contentnotify {
    
          left: -30px;
        
       
        }
      }
      .navbar a {
        color: #244855;
        font-size: large;
        text-decoration: none;
      }
      
      @media screen and (max-width: 700px) {
        .sidebar {
          width: 100%;
          height: auto;
          position: relative;
      
          
        }
        .sidebar a {float: left;}
        div.content {margin-left: 0;}
      }
      
      @media screen and (max-width: 400px) {
        
        .sidebar a {
          text-align: center;
          float: none;

        }
      }

    .div-specification {
        text-align: center;
        margin-top: 20px;
    }
    /* about section */

    .main-about {
      margin: 5px ;
    }
    
    #statement {
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: #f1f1f1 20px 20px 20px;
    }
    /* LOGIN PAGE CSS */ 
    .centered {
      padding-top: 200px;
      text-align: center;
    }

    .container-yash {
    display: flex;
    justify-content: center;

    }
    .container-main {
    color: navy;
    background-color: silver;
    height: 400px;
    /* width: 0vw; */
    margin-top: 10vw;
    }
    .btn-div {
    display: flex;
    justify-content: center;

    }
    .yashbtn {
    font-size: large;
    margin-right: 20px;
    }
  
    .container-yash-home {
    display: flex;
    justify-content: center;
    

    }
    @media (max-width:600px) {
    .img-div img {
      width: 73vw;
    }
  }

    .img-div img {
    width: 50vw;
    border-radius: 20px;
    height: 600px;
    margin-right: 30px;
    }
    .emailOtp {
      width: 50dvi;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      }

    #imput-u, #imput-p,#imput-c,#imput-cnf,#imput-name,#imput-dob{
      width: 55dvi;
    background-color: aliceblue;  
    }
  .emailOtp {
    width: 55dvi;
  }

    @media (max-width:600px) {
      #imput-u, #imput-p,#imput-c,#imput-cnf,#imput-name,#imput-dob{
        width: 370px;
      background-color: aliceblue;  
    
      }
      .emailOtp {
        width: 370px;
      }
      
    }
  .ba {
    width: 50dvi;
    
  }
    .ba:hover {
    background-color:rgb(64, 93, 230);
    }
    .login-register {
    width: 60vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .login-register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px;
    /* width: 60dvi; */
  }

    .div1 {
    width: 100px;
    height: 0.2px;
    /* border: 1px solid gray; */

    }
    .div2 {
    margin: 0px 8px 0px 8px;
    }
    .other-login  {
    margin: 15px 0px 5px 0px;
    color: blue;
    }

    .log-flex {
    margin-top: 2px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    width: 300px;
    }
    .new-register {
    margin-top: 2px;
    width: 60vw;
    height: 80px;
    padding-bottom: 3px;

    }

    @media (max-width:740px) {
      .new-register {
        width: 95vw;
        }
        .login-register {
          width: 95vw;
      
          }
      
    }
    .passcheck {
    margin-top: -10px;
    margin-right: 160px;

    }

    .main-cont-register {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;

    }
    .login-register {
    background-color: white;
    }

    /*FOOTER*/
    .footer-part {
      padding-top: 30px;
      background-color: #00539C;
      color: white;

    }
    footer {
      background-color: #00539C;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      color: white;
      padding-bottom: 20px;
      margin-top: 20px;
    }
    .brandName {
      font-size: x-large;
      margin: 10px 10px 10px 10px;
      height: 70px;
    }
    .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
  
    }
    #body-login {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    @media (max-width:500px) {
      #body-login {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
      }
    }
    .container-login {
      margin: auto;
      height: fit-content;
    }
  #myModal {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(14px); /* Blur effect */
    z-index: 1000;
  
  }
    
  #myModals {  
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(10px); /* Blur effect */
    z-index: 1000;
    
  }
  #sendOTP {
    width: max-content;
    padding: 6px 12px;
    background-color: rgb(64, 93, 230);
    /* padding-bottom: 30px; */
  }
  .otprelated {
    background-color: rgb(64, 93, 230);
  }
  
    #imput-ur,#imput-otpr {
      width: 250px;
      margin-right: 20px;
    }
  .navbar a {
    cursor: pointer;
  }
  .d-flex {
    align-items: center;
    /* width: 100%; */
  }

  /*ABOUT US*/
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
  }
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  section {
    padding: 40px;
    text-align: center;
  }
  .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .feature {
    flex: 1 1 300px;
    margin: 0 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
   
  }
  .feature h3 {
    color: #333;
  }
  .feature:hover {
   
    transition: 0.2s ease-in;
      transform: scale(1.05);
      background-color: #0FA4AF;
 
  }
  .team-member {
    margin-top: 40px;
    text-align: center;
  }
  .team-member img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }

  /*DROPDOWN MENU*/

  .dropbtn {
    background-color:transparent;
    color: white;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-notification {
    position: relative;
 
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    /* left: 100px; */
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
   
  .dropdown-content a {
    color: black;
    padding: 4px 6px;
    font-size: medium;
    text-decoration: none;
    display: block;
  }
  .fa-circle-user {
    font-size:34px;
    background-color: #00539C;
    border: none;
    border-radius: 50%;
  }

  .dropbtn {
    border-radius: 50%;
     
  }
  .dropbtnNotification {
color: black;
border: none;
  }

  .dropdown-content a:hover {background-color: #00b38c;}

  .dropdown:hover .dropdown-content {display: block;}
   .dropdown-notification:hover .dropdown-contentnotify {display: block;}

  .dropdown:hover .dropbtn {background-color: #00539C;}

  .carousel {
    display: flex;
    overflow: hidden;
    width: 100%; /* Adjust width as needed */  
    position: relative;
    justify-content: center;
}
.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    background-color: #f1f1f1;
    padding: 20px 50px 20px 50px;
}
.carousel-item {
    flex: 0 0 100%;
    max-width: 100%;
    transition: transform 0.5s ease;
}
.carousel-item img {
  max-height: 500px;
}
 

/* rent or sell */

.rent-main-section {
  display: flex;
  flex-direction: column;
  
}


.rent-main-section form {
  padding: 0px 10px 0px 10px;
}
#country {
  border: none;
  padding: 0;
}
#your-city {
  text-align: center;
  font-weight: bold;
}
.type-text {
  display: flex;
  flex-direction: column;
  align-items: center;
   margin-top: 20px;
}
.border-div {
  border: 1px solid rgb(204, 202, 202);
  border-radius: 10px;
  width: 200px;
}
.type-land {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.type-land div {
  font-size: large;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
 border: 1px solid rgb(196, 196, 196);
 border-bottom: none;
 cursor: pointer;
}
.sub-type {
  border: 1px solid rgb(196, 196, 196) ;
}
.sub-types-down-here {
  display: flex;
  justify-content: center;
   
}

.sub-types-down-here div {
  margin: 10px 20px 20px 0px;
  border: 1px solid #00539C;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.Stype:hover {
  background-color: #00539C;
  color: white;
}

.Stype.active-type {
  background-color: #00b38c;
  color: white;
}

.Stype:hover:not(.active-type) {
  background-color: #00539C;
  color: wheat;
}

.land-typeCR.active-type {
  background-color: #00b38c;
  color: white;
}

.land-typeCR:hover:not(.active-type) {
  background-color: #00539C;
  color: wheat;
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h1 {
  text-align: center;
  color: #333;
}
form {
  display: flex;
  flex-direction: column;
}
.input-group {
  margin-bottom: 15px;
}
.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.input-group input, .input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.submit-btn {
  display: flex;
  justify-content: center;
}
.submit-btn button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit-btn button:hover {
  background-color: #218838;
}
#uploadFormRoom {
display: flex;
height: 130px;
align-items: center;

}
#imageContainer {
  display: flex;
  flex-wrap: wrap;
  
}
 
#imageContainer img {
  max-width: 300px; /* Set the maximum width you want */
  height: auto; /* Maintain aspect ratio */
  padding: 30px;
}
.propertyPhotos input {
  margin-bottom: 20px;

} 